.recent-data h2{
    color: white;
}

.recent-data tr .warning{
    color: white;
}

.recent-data tr .primary{
    color: white;
}

.recent-updates h2{
    color: white;
}

.admission-analysis h2{
    color: white;

}
.admission-analysis .right  h3{
    color: white;
}


.admission-analysis .right  .sucess{
    color: white;
}
.college-hostel .right .faclity{
    color: white;
}

.coures .right .area{
    color: white;
}

.container .sidebar{
   /* argin-left: 10rem; m */
   margin-right: 12rem;
}